<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <!--<link rel="stylesheet" href="static/styles.css">-->
    <title>Todos Flask App</title>
</head>
<body>
    <h1>Task Manager App</h1>
    <div class="content">
        <form method="POST">
            <p>
                <b><label for="content">Task Content</label></b>
            </p>
            <p>
                <input type="text" name="content" placeholder="add task...">
            </p>
            <p>
                <b><label for="priority">Priority</label></b>
            </p>
            <p>
                <input type="radio" id="priority-0" name="priority" value="high" required>
                <label for="priority-0">High</label>
            </p>
            <p>
                <input type="radio" id="priority-1" name="priority" value="medium" required>
                <label for="priority-1">Medium</label>
            </p>
            <p>
                <input type="radio" id="priority-2" name="priority" value="low" required>
                <label for="priority-2">Low</label>
            </p>
            <button type="submit">Submit</button>  
        </form>
        <hr>
        {% for task in tasks %}
            <div class="task">
                <p> {{ task['content'] }} <i>{{ task['priority'] }}</i>
                </p>        
            </div>
        {% endfor %}    
    </div>
    
</body>
</html>